@font-face {
    font-family: Pixellife;
    src: url(pixellife/PIXEL-LI.TTF);
}

body {
    background-color: green;
}

h1 {
    text-align: center;
    font-size: 4rem;
    letter-spacing: 1rem;
    font-family: 'Pixellife', sans-serif;
}

main {
    display: flex;
    justify-content: center;
}

.menu {
    width: 250px; height: 400px;
    margin-left: 10px;
    background-color: black;
}